# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [50]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [37]:
# Your code here:
lege=pokemon[pokemon['Legendary']==True]
regu=pokemon[pokemon['Legendary']!=True]
print ('Legendario = {}'.format(len(lege)))
print ('Regular = {}'.format(len(regu)))

Legendario = 65
Regular = 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [49]:
# Your code here:
print (pokemon[pokemon['Legendary']==True].Total.mean(),\
       pokemon[pokemon['Legendary']!=True].Total.mean(),\
       pokemon[pokemon['Legendary']==True].Total.std(),\
       pokemon[pokemon['Legendary']!=True].Total.std())

637.3846153846154 417.21360544217686 60.93738905315344 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [53]:
# Your code here:
ttest_ind(lege['Total'], regu['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#como el pvalue es menor al 0.5% se tiene estadística suficiente para rechazar la hipótesis nula.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [57]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [78]:
# Your code here:

pokemon.groupby('Type 1').mean()
pokemon.groupby('Type 1').std()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,210.445160,117.875223,16.328914,37.040904,33.617609,26.697055,32.126395,33.227599,1.598433,0.000000
Dark,176.022072,109.126217,21.078297,25.774247,25.121982,33.200952,24.799020,27.768203,1.353609,0.249731
Dragon,170.190169,146.267538,23.795415,33.742622,24.102938,42.257360,29.884843,23.239961,1.431219,0.491869
Electric,202.731063,105.721952,17.306511,23.764169,24.757033,29.740340,22.601275,26.691607,1.604697,0.290803
Fairy,271.983942,123.781680,23.587291,29.751298,18.979478,28.548462,29.721130,23.305200,2.147160,0.242536
Fighting,218.565200,102.464378,25.852695,28.290163,18.578163,28.159345,22.745777,26.054567,1.800601,0.000000
Fire,226.262840,109.760496,19.404123,28.769275,23.658200,30.042121,22.619908,25.245783,1.850665,0.297678
Flying,42.437209,161.400124,20.694202,37.500000,21.360009,34.769479,22.173558,32.098806,0.577350,0.577350
Ghost,209.189218,110.072685,31.685895,29.629687,32.551138,32.561217,26.038414,28.020280,1.693203,0.245935
Grass,200.264385,106.650626,19.516564,25.380520,24.485192,27.244864,21.446645,28.506456,1.579173,0.203997
Ground,204.899855,123.913081,25.662492,33.059087,33.786912,28.135598,21.267877,27.450083,1.588454,0.336011
Ice,175.465834,108.281027,21.286861,27.289511,34.387708,26.604967,37.213227,24.498410,1.473805,0.282330
Normal,193.854820,115.733038,36.233430,30.295862,23.771833,23.946395,25.142801,28.406157,1.575407,0.142119
Poison,228.801767,92.358687,19.665019,19.630010,21.066128,19.322657,19.887348,22.631392,1.752927,0.000000
Psychic,194.600455,139.026645,28.421340,42.309265,28.359401,38.539340,31.126329,37.335412,1.644845,0.434277
Rock,213.746140,108.059227,20.833884,35.325458,36.447209,28.249670,32.265965,29.903580,1.848375,0.290803
Steel,164.847180,115.420907,16.044010,30.388276,44.806548,31.458606,29.018758,25.846578,1.350319,0.362014
Water,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800,0.186411

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [82]:
# Your code here:
wat=pokemon[pokemon['Type 1']=='Water']
othe=pokemon[pokemon['Type 1']!='Water']
ttest_ind(wat['Total'], othe['Total'], equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [10]:
# Your conclusions here:

#como el pvalue es mayor al 0.5% se tiene estadística suficiente para no rechazar la hipótesis nula.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [84]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon.Defense, pokemon.Attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [85]:
# Your conclusions here:
#como el pvalue es menor al 0.5% se tiene estadística suficiente para rechazar la hipótesis nula.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [86]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#como el pvalue es menor al 0.5% se tiene estadística suficiente para rechazar la hipótesis nula.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [87]:
# Your code here:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon.Defense-pokemon.Attack, 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [94]:
# Your code here:

cont_table = pd.crosstab((pokemon.Legendary == True),(pokemon['Type 1'] == 'Water'))
cont_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [96]:
# Your code here:
from scipy.stats import chi2_contingency

chi_2, p_value, dof, ex = chi2_contingency(cont_table)
p_value

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [97]:
# Your answer here:
#como el pvalue es mayor al 0.5% se tiene estadística suficiente para no rechazar la hipótesis nula.