# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [5]:
data['ProductName'].unique()

array(['Bread - Hot Dog Buns', 'Cheese Cloth No 100',
       'Arizona - Green Tea', 'Beer - Original Organic Lager',
       'Wine - Ruffino Chianti', 'Rosemary - Primerba, Paste',
       'Lamb - Pieces, Diced', 'Wine - White, Mosel Gold',
       'Eggplant - Asian', 'Longos - Grilled Salmon With Bbq',
       'Raspberries - Fresh', 'Sponge Cake Mix - Chocolate',
       'Beef - Rib Eye Aaa', 'Wine - Vineland Estate Semi - Dry',
       'Peas - Pigeon, Dry', 'Wine - White, Colubia Cresh',
       'Beef - Inside Round', 'Juice - Happy Planet', 'Skirt - 29 Foot',
       'French Pastry - Mini Chocolate', 'Cheese - Parmesan Cubes',
       'Lettuce - Frisee', 'Beer - Rickards Red', 'Mussels - Frozen',
       'Mangoes', 'Anchovy Paste - 56 G Tube', 'Cassis',
       'Muffin - Carrot Individual Wrap', 'Wine - Fume Blanc Fetzer',
       'Vol Au Vents', 'Nantucket - Pomegranate Pear',
       'Cocktail Napkin Blue', 'Sunflower Seed Raw', 'Watercress',
       'Fond - Neutral', 'Pail For Lid 1537', 'Wine - Toasted Head',
       'Cup - 6oz, Foam', 'Soup - Canadian Pea, Dry Mix',
       'Yogurt - French Vanilla', 'Pastry - Raisin Muffin - Mini',
       'Soup - Campbells, Beef Barley', 'Bandage - Fexible 1x3',
       'Kellogs Special K Cereal', 'Bread Fig And Almond',
       'Pastry - Choclate Baked', 'Cookie Dough - Double',
       'Browning Caramel Glace', 'Liners - Baking Cups', 'Milk - 2%',
       'Island Oasis - Mango Daiquiri', 'Cake - Cake Sheet Macaroon',
       'Muffin Batt - Choc Chk', 'Knife Plastic - White',
       'Sausage - Breakfast', 'Loquat', 'Pork - Hock And Feet Attached',
       'General Purpose Trigger', 'Cheese - Camembert',
       'Cod - Black Whole Fillet', 'Sherry - Dry',
       'Creme De Banane - Marie', 'Pepsi - Diet, 355 Ml', 'Cornflakes',
       'Table Cloth - 53x69 Colour', 'Soupcontfoam16oz 116con', 'Bananas',
       'V8 - Berry Blend', 'Soup - Campbells Bean Medley', 'Blackberries',
       'Soup Campbells - Italian Wedding', 'Bacardi Breezer - Tropical',
       'Pork - Inside', 'Cheese - Cheddarsliced', 'Beef - Short Loin',
       'Isomalt', 'Mussels - Cultivated',
       'Chips Potato All Dressed - 43g', 'Chicken - Leg, Boneless',
       'Garlic - Primerba, Paste', 'Campari', 'Crab - Dungeness, Whole',
       'Beets - Candy Cane, Organic', 'Pastry - Butterscotch Baked',
       'Rum - Coconut, Malibu', 'Pop Shoppe Cream Soda',
       'Olive - Spread Tapenade', 'Garbag Bags - Black',
       'Beef - Tenderlion, Center Cut', 'Cookie - Dough Variety',
       'Hickory Smoke, Liquid', 'Beef - Chuck, Boneless',
       'Halibut - Fletches', 'Sauce - Demi Glace',
       'Beef - Texas Style Burger', 'Clam Nectar', 'Cheese - Mozzarella',
       'Pants Custom Dry Clean', 'Pecan Raisin - Tarts', 'Pomello',
       'Wine - Pinot Noir Latour', 'Soup V8 Roasted Red Pepper',
       'Rum - Mount Gay Eclipes', 'Bread Crumbs - Panko',
       'Salsify, Organic', 'Yoghurt Tubes', 'Chinese Foods - Chicken',
       'Quiche Assorted', 'Veal - Osso Bucco', 'Cheese - Bocconcini',
       'Squid U5 - Thailand', 'Bread - Raisin Walnut Oval', 'Lambcasing',
       'Turnip - White, Organic', 'Vaccum Bag 10x13',
       'Lemonade - Natural, 591 Ml', 'Oregano - Dry, Rubbed',
       'Chicken - Soup Base', 'Fondant - Icing',
       'Placemat - Scallop, White', 'Tia Maria',
       'Smirnoff Green Apple Twist', 'Water - Mineral, Natural',
       'Carbonated Water - Cherry', 'Tofu - Firm',
       'Mushroom - Trumpet, Dry', 'Pasta - Orecchiette',
       'Tomatoes Tear Drop', 'Table Cloth 54x72 White',
       'Table Cloth 81x81 White', 'Tray - 16in Rnd Blk',
       'Longos - Chicken Wings', 'Bar Mix - Pina Colada, 355 Ml',
       'Crackers Cheez It', 'Sauce - Hollandaise',
       'Wine - Chardonnay South', 'Durian Fruit',
       'Macaroons - Two Bite Choc', 'Bread - Italian Corn Meal Poly',
       'Beef - Top Sirloin', 'Pate - Cognac', 'Lettuce - Treviso',
       'Juice - Apple Cider', 'Flavouring - Orange',
       'Ice Cream Bar - Hageen Daz To', 'Soup - Campbells, Cream Of',
       'Crab - Imitation Flakes', 'Wine - Charddonnay Errazuriz',
       'Rosemary - Dry', 'Steam Pan - Half Size Deep',
       'Longos - Grilled Chicken With', 'Sauerkraut', 'Wiberg Super Cure',
       'Chocolate - Dark', 'Banana - Leaves', 'Lettuce - Spring Mix',
       'Wine - Gato Negro Cabernet', 'Onions - Cippolini',
       'Pasta - Cheese / Spinach Bauletti', 'Cinnamon Buns Sticky',
       'Beer - Blue', 'Sardines', 'Sage - Ground',
       'Otomegusa Dashi Konbu', 'Lentils - Red, Dry', 'Guinea Fowl',
       'Puree - Passion Fruit', 'Wine - Magnotta - Belpaese',
       'Wine - Blue Nun Qualitatswein', 'Ezy Change Mophandle',
       'Shrimp - 31/40', 'Apricots Fresh', 'Water - Spring Water 500ml',
       'Dc - Frozen Momji', 'Wasabi Powder', 'Pork - Kidney',
       'Crush - Cream Soda', 'Potatoes - Instant, Mashed',
       'Yogurt - Blueberry, 175 Gr', 'Wine - Magnotta - Cab Sauv',
       'Cheese - Parmesan Grated', 'Beef - Ground Medium',
       'Tea - English Breakfast', 'Flour - Teff',
       'Bandage - Flexible Neon', 'Wine - Red, Cooking', 'Fenngreek Seed',
       'Scallops - Live In Shell', 'Chicken - Wieners',
       'Cheese - Cottage Cheese', 'Mushrooms - Black, Dried',
       'Onions - Vidalia', 'Barramundi', 'Ocean Spray - Ruby Red',
       'Turkey - Whole, Fresh', 'Lamb - Ground',
       'Pork - Bacon, Double Smoked', 'Flour - Pastry',
       'Foam Dinner Plate', 'Vinegar - Sherry',
       'Cheese - Victor Et Berthold', 'Salmon - Atlantic, Skin On',
       'Curry Paste - Madras', 'Assorted Desserts',
       'Chestnuts - Whole,canned', 'Veal - Eye Of Round',
       'Kellogs All Bran Bars', 'Corn Meal',
       'Bread - Italian Roll With Herbs',
       'Bread - Roll, Soft White Round', 'Hinge W Undercut',
       'Olives - Kalamata', 'Wine - Chablis 2003 Champs',
       'Tea - Decaf Lipton', 'Zucchini - Yellow',
       'Pepper - Paprika, Hungarian', 'Extract - Lemon', 'Juice - Lime',
       'Sausage - Liver', 'Seedlings - Mix, Organic',
       'Coffee Decaf Colombian', 'Shrimp - Baby, Warm Water',
       'Pepper - White, Ground', 'Muffin - Zero Transfat',
       'Pork - Back, Short Cut, Boneless', 'Dried Figs', 'Juice - Orange',
       'Doilies - 5, Paper', 'Sword Pick Asst', 'Lime Cordial - Roses',
       'Kiwi', 'Bread - Calabrese Baguette',
       'Chocolate - Semi Sweet, Calets', 'Pasta - Penne, Rigate, Dry',
       'Sauce - Rosee', 'Tuna - Salad Premix', 'Cattail Hearts',
       'Ice - Clear, 300 Lb For Carving', 'Chocolate - Compound Coating',
       'Water - Green Tea Refresher', 'Beans - Kidney White',
       'Scallops 60/80 Iqf', 'Nut - Pistachio, Shelled', 'Banana Turning',
       'Beef - Ground, Extra Lean, Fresh', 'Table Cloth 120 Round White',
       'Veal - Brisket, Provimi,bnls', 'Beets - Mini Golden',
       'Bouq All Italian - Primerba', 'Cumin - Whole',
       'Salmon Steak - Cohoe 8 Oz', 'Bread - Roll, Canadian Dinner',
       'Yeast Dry - Fermipan', 'Whmis - Spray Bottle Trigger',
       'Cup - Translucent 7 Oz Clear', 'Beans - Kidney, Red Dry',
       'Cheese - Brie,danish', 'Tea - Jasmin Green',
       'Coffee - Hazelnut Cream', 'Muffin Mix - Blueberry', 'Blueberries',
       'Cookies - Assorted', 'Vinegar - Tarragon', 'Cheese - Mix',
       'Veal - Slab Bacon', 'Apricots - Halves', 'Cake - Mini Cheesecake',
       'Olives - Stuffed', 'Soup - Campbells, Lentil',
       'Tomato - Tricolor Cherry', 'Appetizer - Mushroom Tart',
       'Artichokes - Jerusalem', 'Sole - Dover, Whole, Fresh',
       'Wine - Two Oceans Cabernet', 'Grapes - Red', 'Beans - Wax',
       'Bay Leaf', 'Scallops - 10/20', 'Wine - Ej Gallo Sierra Valley',
       'Soup - Campbells Tomato Ravioli', 'Coconut - Shredded, Sweet',
       'Spinach - Baby', 'Brandy - Bar', 'Sprouts - Alfalfa',
       'Wine - Alsace Gewurztraminer', 'Broom - Corn',
       'Bread - Multigrain', 'Halibut - Steaks',
       'Napkin White - Starched', 'Initation Crab Meat',
       'Gloves - Goldtouch Disposable', 'Cookie Chocolate Chip With',
       'Coffee - Irish Cream', 'Veal - Inside', 'Veal - Sweetbread',
       'Orange - Canned, Mandarin', 'Milk - 1%', 'Apricots - Dried',
       'Pears - Bosc', 'Cheese - Boursin, Garlic / Herbs',
       'Ecolab - Mikroklene 4/4 L', 'Oil - Shortening,liqud, Fry',
       'Beef - Striploin Aa', 'Peas - Frozen', 'Sea Bass - Whole',
       'Cheese - Brie, Triple Creme', 'Gatorade - Xfactor Berry',
       'Sobe - Tropical Energy', 'Tart Shells - Sweet, 4',
       'Rice - Long Grain', 'Wine - Cahors Ac 2000, Clos',
       'Wine - Red, Colio Cabernet', 'Veal - Inside, Choice',
       'Jagermeister', 'Flour - Whole Wheat', 'Rice - Jasmine Sented',
       'Thermometer Digital', 'Cheese - Cambozola',
       'Table Cloth 62x114 White', 'Cream Of Tartar', 'Sugar - Fine',
       'Bagel - Plain', 'Onion Powder', 'Smoked Paprika',
       'Scallop - St. Jaques', 'Fuji Apples',
       'Potatoes - Idaho 100 Count', 'Nantuket Peach Orange',
       'Sun - Dried Tomatoes', 'Pastry - Cheese Baked Scones',
       'Chocolate - Feathers', 'Garbage Bags - Clear', 'Tea - Earl Grey',
       'Bread Crumbs - Japanese Style', 'Bread - French Baquette',
       'Carbonated Water - Blackcherry', 'Bread - Rye', 'Papayas',
       'Tahini Paste', 'Beef Ground Medium', 'Beef - Prime Rib Aaa',
       'Snapple - Iced Tea Peach', 'Black Currants',
       'Sauce - Gravy, Au Jus, Mix', 'Wine - Magnotta, Merlot Sr Vqa',
       'Wine - Red, Harrow Estates, Cab', 'Dc Hikiage Hira Huba',
       'Soup Knorr Chili With Beans', 'Pasta - Angel Hair',
       'Wine - Hardys Bankside Shiraz', 'Garlic - Elephant',
       'Grouper - Fresh', 'Chips Potato Salt Vinegar 43g',
       'Puree - Mocha', 'Phyllo Dough', 'Coffee - Dark Roast',
       'Crackers - Trio', 'Bar - Granola Trail Mix Fruit Nut',
       'Ecolab - Lime - A - Way 4/4 L', 'Baking Powder',
       'Pork - Belly Fresh', 'Bread - English Muffin',
       'Muffin Chocolate Individual Wrap', 'Wine - Sogrape Mateus Rose',
       'Spice - Peppercorn Melange', 'Muffin Batt - Blueberry Passion',
       'Wonton Wrappers', 'Beer - Sleemans Cream Ale', 'Hersey Shakes',
       'Pork - Loin, Bone - In', 'Ketchup - Tomato',
       'Beef - Montreal Smoked Brisket', 'Butter - Unsalted',
       'Cake - Box Window 10x10x2.5', 'Mustard Prepared',
       'Salmon - Sockeye Raw', 'Pie Filling - Cherry', 'Remy Red',
       'Cookies Cereal Nut', 'Squid - Tubes / Tenticles 10/20',
       'Ice Cream Bar - Oreo Cone', 'Beef - Top Sirloin - Aaa',
       'Ocean Spray - Kiwi Strawberry',
       'Beer - Alexander Kieths, Pale Ale', 'Scampi Tail',
       'Snapple Lemon Tea', 'Pail With Metal Handle 16l White',
       'Soupfoamcont12oz 112con', 'Beef Wellington',
       'Meldea Green Tea Liquor', 'Bread - Bistro White',
       'Wine - Crozes Hermitage E.', 'Nut - Chestnuts, Whole',
       'Mayonnaise - Individual Pkg', 'Duck - Breast',
       'Oil - Shortening - All - Purpose', 'Truffle Cups - Brown',
       'Langers - Ruby Red Grapfruit', 'Mushroom - Porcini, Dry',
       'Berry Brulee', 'Ice Cream Bar - Drumstick',
       'Pork - Loin, Center Cut', 'Cocoa Butter', 'Grenadine',
       'Beer - Labatt Blue', 'Beans - Kidney, Canned', 'Chef Hat 20cm',
       'Liners - Banana, Paper', 'Vanilla Beans', 'Oranges - Navel, 72',
       'Thyme - Lemon, Fresh', 'Cheese - Taleggio D.o.p.',
       'Tea - Herbal Sweet Dreams', 'Towels - Paper / Kraft',
       'Jolt Cola - Electric Blue', 'Pepper - Black, Whole',
       'Wine - White, Schroder And Schyl', 'Juice - V8 Splash',
       'Wine - White Cab Sauv.on', 'Pasta - Detalini, White, Fresh',
       'Garlic - Peeled', 'Garlic', 'Wanton Wrap',
       'Appetizer - Sausage Rolls', 'Wine - Wyndham Estate Bin 777',
       'Juice - Cranberry, 341 Ml', 'Wine - Vidal Icewine Magnotta',
       'Rabbit - Whole', 'Appetizer - Mini Egg Roll, Shrimp',
       'Sprouts - Baby Pea Tendrils', 'Lamb - Whole, Fresh', 'Water, Tap',
       'Water - Aquafina Vitamin', 'Milk Powder',
       'Wine - Redchard Merritt', 'Wine - Valpolicella Masi',
       'Fish - Scallops, Cold Smoked', 'Bread Foccacia Whole',
       'Spoon - Soup, Plastic', 'Cheese - Wine', 'Rambutan',
       'Ecolab - Solid Fusion', 'Tilapia - Fillets', 'Foam Cup 6 Oz',
       'Lettuce - California Mix', 'Oil - Safflower', 'Mustard - Seed',
       'Hot Chocolate - Individual', 'Turkey - Oven Roast Breast',
       'Pickerel - Fillets', 'Pernod', 'Wine - Prosecco Valdobiaddene'],
      dtype=object)

In [6]:
data = data.loc[data['CustomerID'].notna()]
data.isnull().sum()

CustomerID     0
FirstName      0
LastName       0
SalesID        0
ProductID      0
ProductName    0
Quantity       0
dtype: int64

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [7]:
data = data.groupby(['CustomerID','ProductName']).sum().sort_values('Quantity',ascending=False).reset_index()
data = data.drop(['ProductID','SalesID'],axis=1)
data

       CustomerID                        ProductName  Quantity
0           90069   Longos - Grilled Salmon With Bbq        92
1           80694               Yeast Dry - Fermipan        84
2           96615                Veal - Eye Of Round        75
3           97063            Bread - French Baquette        75
4           95017               Coffee - Irish Cream        75
...           ...                                ...       ...
63623        2617  Pasta - Cheese / Spinach Bauletti         1
63624        2617                  Pail For Lid 1537         1
63625        2617        Oil - Shortening,liqud, Fry         1
63626        2617   Muffin Chocolate Individual Wrap         1
63627          33                   Apricots - Dried         1

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [8]:
p_table = pd.pivot_table(data, index='ProductName', values='Quantity',columns='CustomerID',fill_value=0)
p_table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [9]:
new=squareform(pdist(p_table.T, 'euclidean'))
df = pd.DataFrame(1/(1+new))
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
1,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
2,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
3,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
4,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
996,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
997,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
998,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
999,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [10]:
df['Total'] = df.sum()
df = df.sort_values(by='Total', ascending=False)
df

,0,1,2,3,4,5,6,7,8,9,...,991,992,993,994,995,996,997,998,999,Total
47,0.087047,0.082403,0.086333,0.082403,0.084959,0.085983,0.083651,0.087779,0.087410,0.084959,...,0.004677,0.004415,0.005036,0.004317,0.004522,0.004582,0.004364,0.004169,0.004348,17.498697
17,0.085297,0.083972,0.087410,0.082709,0.082709,0.083651,0.079792,0.085983,0.083651,0.080920,...,0.004665,0.004402,0.005043,0.004321,0.004527,0.004579,0.004358,0.004169,0.004338,17.456093
44,0.087047,0.084959,0.084297,0.085638,0.085638,0.086688,0.081210,0.088530,0.085297,0.083651,...,0.004685,0.004415,0.005039,0.004309,0.004525,0.004579,0.004360,0.004164,0.004332,17.442116
29,0.085983,0.080350,0.082709,0.083333,0.080350,0.085638,0.077171,0.085983,0.085638,0.081503,...,0.004670,0.004410,0.005020,0.004303,0.004534,0.004581,0.004355,0.004173,0.004324,17.399596
14,0.083972,0.080350,0.088152,0.085297,0.083333,0.084959,0.079246,0.085297,0.081210,0.082100,...,0.004680,0.004412,0.005026,0.004306,0.004520,0.004588,0.004359,0.004174,0.004336,17.362947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,0.004187,0.004190,0.004187,0.004180,0.004182,0.004172,0.004183,0.004192,0.004187,0.004180,...,0.003386,0.003202,0.003565,0.003199,0.003285,0.003286,0.003093,0.003213,0.003172,4.870462
943,0.004121,0.004146,0.004126,0.004141,0.004131,0.004125,0.004134,0.004127,0.004133,0.004121,...,0.003217,0.003244,0.003494,0.003126,0.003205,0.003310,0.003127,0.003180,0.003154,4.848967
965,0.004077,0.004083,0.004082,0.004087,0.004087,0.004077,0.004081,0.004082,0.004085,0.004070,...,0.003223,0.003322,0.003311,0.003095,0.003133,0.003152,0.003152,0.003300,0.003162,4.793313
988,0.004032,0.004041,0.004045,0.004042,0.004035,0.004042,0.004049,0.004040,0.004035,0.004041,...,0.003223,0.003393,0.003406,0.003077,0.003277,0.003192,0.003133,0.003255,0.003143,4.786374
941,0.004007,0.004015,0.004007,0.004005,0.004017,0.004003,0.004009,0.004005,0.004011,0.004011,...,0.003418,0.003206,0.003423,0.003128,0.003248,0.003291,0.003267,0.003202,0.003215,4.759087

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [11]:
data.iloc[df.index]

     CustomerID                 ProductName  Quantity
47        82057                    Sardines        63
17        90508   Jolt Cola - Electric Blue        69
44        80372                   Milk - 1%        63
29        84575        Chocolate - Feathers        66
14        91783  Wine - Two Oceans Cabernet        72
..          ...                         ...       ...
893       81293   Salmon Steak - Cohoe 8 Oz        42
943       80184  Wine - Crozes Hermitage E.        42
965       80184             Quiche Assorted        42
988       80167             Skirt - 29 Foot        42
941       81034           Veal - Slab Bacon        42

[1000 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [12]:
data.head()

   CustomerID                       ProductName  Quantity
0       90069  Longos - Grilled Salmon With Bbq        92
1       80694              Yeast Dry - Fermipan        84
2       96615               Veal - Eye Of Round        75
3       97063           Bread - French Baquette        75
4       95017              Coffee - Irish Cream        75

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [17]:
naw = data.iloc[df.index]
naw = naw.groupby('ProductName').count().sort_values('Quantity',ascending=False)
naw = naw.drop('CustomerID',axis=1)
naw

                                 Quantity
ProductName
Zucchini - Yellow                       6
Turnip - White, Organic                 6
Cream Of Tartar                         6
Squid - Tubes / Tenticles 10/20         6
Onion Powder                            6
...                                   ...
Ice Cream Bar - Hageen Daz To           1
Initation Crab Meat                     1
Sausage - Liver                         1
Sausage - Breakfast                     1
Curry Paste - Madras                    1

[401 rows x 1 columns]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [19]:
new=squareform(pdist(p_table.T, 'correlation'))
df = pd.DataFrame(1/(1+new))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.493776,0.529677,0.510360,0.506951,0.507217,0.487410,0.497932,0.499215,0.502499,...,0.493385,0.484376,0.493486,0.479867,0.499870,0.479764,0.493197,0.486457,0.491384,0.492072
1,0.493776,1.000000,0.499733,0.498575,0.482172,0.481921,0.519139,0.480599,0.499131,0.505459,...,0.504719,0.496170,0.517884,0.508954,0.492581,0.484514,0.534491,0.500253,0.484272,0.488735
2,0.529677,0.499733,1.000000,0.497579,0.513573,0.490305,0.503243,0.480936,0.502028,0.490242,...,0.508803,0.490805,0.499750,0.499162,0.517743,0.525278,0.511845,0.503500,0.515736,0.490875
3,0.510360,0.498575,0.497579,1.000000,0.490143,0.489778,0.501933,0.507803,0.482686,0.486354,...,0.499105,0.486660,0.498662,0.502228,0.494239,0.496086,0.484207,0.502204,0.506401,0.500631
4,0.506951,0.482172,0.513573,0.490143,1.000000,0.497577,0.505111,0.512470,0.493947,0.507777,...,0.488109,0.529502,0.492033,0.495264,0.504752,0.500064,0.481259,0.502418,0.505997,0.515015

In [26]:
new=squareform(pdist(p_table.T, 'cityblock'))
df = pd.DataFrame(1/(1+new))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.008000,0.009901,0.009174,0.008403,0.008929,0.007752,0.008850,0.008621,0.008696,...,0.000564,0.000596,0.000556,0.000674,0.000542,0.000569,0.000556,0.000554,0.000476,0.000534
1,0.008000,1.000000,0.008130,0.007874,0.006993,0.007576,0.007752,0.007752,0.008065,0.008130,...,0.000563,0.000593,0.000557,0.000675,0.000538,0.000567,0.000558,0.000553,0.000473,0.000531
2,0.009901,0.008130,1.000000,0.008547,0.008850,0.008475,0.007874,0.008403,0.008621,0.008264,...,0.000566,0.000596,0.000556,0.000678,0.000543,0.000576,0.000559,0.000557,0.000479,0.000533
3,0.009174,0.007874,0.008547,1.000000,0.008000,0.008197,0.007752,0.009174,0.008065,0.008130,...,0.000564,0.000595,0.000556,0.000676,0.000540,0.000571,0.000553,0.000556,0.000478,0.000534
4,0.008403,0.006993,0.008850,0.008000,1.000000,0.008065,0.007752,0.008850,0.007937,0.008264,...,0.000561,0.000599,0.000553,0.000674,0.000540,0.000570,0.000552,0.000555,0.000477,0.000536

In [25]:
new=squareform(pdist(p_table.T, 'cosine'))
df = pd.DataFrame(1/(1+new))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.530003,0.563492,0.543546,0.542393,0.541054,0.522016,0.530783,0.533096,0.535293,...,0.530306,0.517987,0.527662,0.511471,0.534181,0.513809,0.528795,0.520208,0.529481,0.527142
1,0.530003,1.000000,0.537166,0.535098,0.521226,0.519193,0.556945,0.516729,0.536350,0.541451,...,0.545224,0.533067,0.555246,0.543554,0.530308,0.521925,0.573177,0.537284,0.526167,0.527280
2,0.563492,0.537166,1.000000,0.531963,0.550168,0.525368,0.538967,0.514932,0.537046,0.524193,...,0.546880,0.525550,0.535062,0.531806,0.553085,0.560225,0.548538,0.538340,0.554929,0.527142
3,0.543546,0.535098,0.531963,1.000000,0.525982,0.523986,0.536792,0.540890,0.516901,0.519482,...,0.536321,0.520565,0.533119,0.534066,0.528874,0.530406,0.520138,0.536202,0.544727,0.535974
4,0.542393,0.521226,0.550168,0.525982,1.000000,0.534073,0.542308,0.547743,0.530459,0.543050,...,0.527903,0.565369,0.528847,0.529278,0.541674,0.536686,0.519628,0.538710,0.546943,0.552636

In [24]:
new=squareform(pdist(p_table.T, 'jaccard'))
df = pd.DataFrame(1/(1+new))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.514644,0.529703,0.524038,0.513043,0.516129,0.510549,0.509174,0.511211,0.513889,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,0.514644,1.000000,0.518828,0.514523,0.503704,0.512000,0.520325,0.510204,0.518828,0.519313,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2,0.529703,0.518828,1.000000,0.515695,0.527027,0.515419,0.510460,0.508772,0.515419,0.511013,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
3,0.524038,0.514523,0.515695,1.000000,0.517094,0.510917,0.508403,0.521531,0.510823,0.513393,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
4,0.513043,0.503704,0.527027,0.517094,1.000000,0.512605,0.516529,0.520362,0.510373,0.515284,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5