In [61]:
import pymongo
import folium
import pandas as pd
import json
from pandas.io.json import json_normalize

In [7]:
cliente=pymongo.MongoClient()
database=cliente.companies
db=database.companies

In [14]:
look = pd.DataFrame(db.find({'deadpooled': None}, {'name':1, 'category_code':1, 'founded_year':1, 'ipo':1, '_id':0}))
look.head()

,name,category_code,founded_year,ipo
0,Wetpaint,web,2005.0,NaN
1,AdventNet,enterprise,1996.0,NaN
2,Zoho,software,2005.0,NaN
3,Digg,news,2004.0,None
4,Facebook,social,2004.0,"{'valuation_amount': 104000000000, 'valuation_..."

In [22]:
look.groupby('category_code').count()

                  name  founded_year  ipo
category_code
advertising        928           812   13
analytics           66            66    0
automotive           9             7    2
biotech            373           234   26
cleantech          305           207   17
consulting         637           528    9
design               4             4    0
ecommerce          688           577    5
education           36            33    2
enterprise         742           624   31
fashion             10             9    1
finance             49            46    2
games_video       1083           892   16
government           1             1    0
hardware           368           276   32
health              23            21    0
hospitality          8             8    0
legal               25            17    1
local                1             1    0
manufacturing       19            15    1
medical             25            20    0
messaging           30            28    2
mobile            1018           768   26
music               33            32    0
nanotech             5             5    0
network_hosting    626           505   16
news                48            41    4
nonprofit            4             3    0
other              986           764   12
photo_video         23            23    1
public_relations   533           434   12
real_estate         10             9    1
search             394           326    6
security           156           129   11
semiconductor      167           123   15
social              49            46    4
software          2736          2240   73
sports              13            12    0
transportation       7             7    2
travel              25            24    1
web               3787          2901   38

In [28]:
look.founded_year.max()

2013.0

In [18]:
look.shape

(18801, 4)

# Requerimientos del cliente
#### 1. Quiere ubicar empresa de Cleantech
#### 2. Cerca de empresas jóvenes
#### 3. Prioritariamente cerca de empresas de giro social, salud y noticias

In [57]:
selection = pd.DataFrame(db.find({'deadpooled': None, 
                                  '$or': [{'category_code':'cleantech'},
                                          {'category_code':'health'}, 
                                          {'category_code':'social'}, 
                                          {'category_code':'news'}],
                                  'founded_year':{'$gt':2003},
                                  'offices.0.country_code':'USA'},
                                {'_id':0, 'name':1, 'offices':1, 'category_code':1, 'founded_year':1}))
selection.head()

,name,category_code,founded_year,offices
0,Digg,news,2004,"[{'description': None, 'address1': '135 Missis..."
1,Facebook,social,2004,"[{'description': 'Headquarters', 'address1': '..."
2,Twitter,social,2006,"[{'description': '', 'address1': '1355 Market ..."
3,Scribd,news,2007,"[{'description': 'HQ', 'address1': '539 Bryant..."
4,MeetMoi,social,2007,"[{'description': None, 'address1': '', 'addres..."

In [68]:
selection['offices'].iloc[0]

[{'description': None,
  'address1': '135 Mississippi St',
  'address2': '',
  'zip_code': '94107',
  'city': 'San Francisco',
  'state_code': 'CA',
  'country_code': 'USA',
  'latitude': 37.764726,
  'longitude': -122.394523}]

In [60]:
selection.columns

Index(['name', 'category_code', 'founded_year', 'offices'], dtype='object')

In [75]:
selection.offices = selection.offices.apply(lambda x: x[0])

In [122]:
df = pd.concat([json_normalize(selection.offices), selection[['name', 'founded_year', 'category_code']]], axis=1)
df.shape

(139, 12)

In [134]:
df.drop(df[df.latitude.isnull()].index, inplace=True)

In [135]:
df.shape

(111, 12)

In [141]:
df.drop_duplicates(inplace=True)

In [142]:
df.shape

(107, 12)

In [143]:
df.head()

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,name,founded_year,category_code
0,None,135 Mississippi St,,94107,San Francisco,CA,USA,37.764726,-122.394523,Digg,2004,news
1,Headquarters,1601 Willow Road,,94025,Menlo Park,CA,USA,37.416050,-122.151801,Facebook,2004,social
2,,1355 Market St.,,94103,San Francisco,CA,USA,37.776805,-122.416924,Twitter,2006,social
3,HQ,539 Bryant Street,,94107,San Francisco,CA,USA,37.789634,-122.404052,Scribd,2007,news
4,None,,,,New York City,NY,USA,40.757929,-73.985506,MeetMoi,2007,social

## Análisis con Folium

In [146]:
mapa=folium.Map(location=[39.67348, -100.496137], tiles='openstreetmap',zoom_start=4.2)

In [147]:
folium.Marker([40.757929	, -73.985506], popup='<i>Info</i>', tooltip='cleantech').add_to(mapa)
mapa

NameError: name 'tooltip' is not defined