## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random as rm

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
sample_list_1 = rm.sample(range(101),80)
print(sample_list_1)

[14, 44, 15, 57, 9, 56, 0, 49, 96, 93, 64, 80, 62, 74, 30, 60, 53, 59, 78, 47, 71, 84, 17, 37, 12, 77, 51, 5, 29, 67, 13, 19, 89, 90, 27, 16, 22, 87, 11, 73, 24, 79, 81, 2, 32, 55, 69, 41, 85, 95, 45, 40, 58, 1, 98, 86, 83, 3, 65, 88, 25, 35, 66, 31, 82, 4, 92, 33, 76, 18, 100, 8, 48, 70, 43, 46, 34, 7, 28, 50]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [32]:
# Your code here
sample_list_2 = []
for x in range(80):
    sample_list_2.append(rm.randrange(101))
print(sample_list_2)

[75, 70, 51, 88, 12, 98, 28, 99, 88, 0, 1, 32, 41, 97, 100, 79, 49, 84, 79, 13, 98, 22, 13, 17, 8, 57, 79, 98, 47, 52, 69, 40, 69, 30, 16, 94, 39, 11, 5, 28, 16, 0, 31, 75, 52, 24, 9, 91, 18, 98, 87, 8, 41, 86, 55, 32, 6, 3, 82, 35, 27, 49, 24, 10, 99, 61, 48, 35, 33, 88, 90, 50, 75, 4, 55, 85, 90, 56, 83, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [33]:
# Your code here
set2 = set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [34]:
# Your code here
set3 = set()
for x in set1:
    if x not in set2:
        set3.add(x)
print(set3)

{2, 7, 14, 15, 19, 25, 29, 34, 37, 43, 44, 45, 46, 53, 58, 59, 60, 62, 64, 65, 66, 67, 71, 73, 74, 76, 77, 78, 80, 81, 89, 92, 93, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [35]:
# Your code here
set4 = set()
for x in set2:
    if x not in set1:
        set4.add(x)
print(set4)

{97, 99, 6, 39, 10, 75, 52, 91, 61, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [41]:
# Your code here
set5 = set()
for x in set1:
    if x in set2:
        set5.add(x)
for x in set2:
    if x in set1:
        set5.add(x)
print(set5)
print(set1.intersection(set2))

{0, 1, 3, 4, 5, 8, 9, 11, 12, 13, 16, 17, 18, 22, 24, 27, 28, 30, 31, 32, 33, 35, 40, 41, 47, 48, 49, 50, 51, 55, 56, 57, 69, 70, 79, 82, 83, 84, 85, 86, 87, 88, 90, 98, 100}
{0, 1, 3, 4, 5, 8, 9, 11, 12, 13, 16, 17, 18, 22, 24, 27, 28, 30, 31, 32, 33, 35, 40, 41, 47, 48, 49, 50, 51, 55, 56, 57, 69, 70, 79, 82, 83, 84, 85, 86, 87, 88, 90, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [61]:
# Your code here
print("set5 es la intersección entre set1 y set2, y hay %d elementos." % len(set1.intersection(set2)))
print("set3 es lo que hay en set1 menos su intersección en set2, y son %d elementos." % (len(set1)-len(set1.intersection(set2))))
print("set4 es lo que hay en set2 menos su intersección en set1, y son %d elementos." % (len(set2)-len(set1.intersection(set2))))

set5 es la intersección entre set1 y set2, y hay 45 elementos.
set3 es lo que hay en set1 menos su intersección en set2, y son 35 elementos.
set4 es lo que hay en set2 menos su intersección en set1, y son 10 elementos.


#### Create an empty set called `set6`.

In [62]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [65]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 98, 100}

#### Check if `set1` and `set6` are equal.

In [66]:
# Your code here
print(set1.difference(set6))

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [68]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [70]:
# Your code here
conjunto_1 = set3.union(set4,set5)
conjunto_2 = set1.union(set2)
print(conjunto_1.difference(conjunto_2))

set()

#### Using the `pop` method, remove the first element from `set1`.

In [71]:
# Your code here
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [74]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in list_to_remove:
    if x in set1:
        set1.remove(x)
print(set1)

{2, 3, 4, 5, 7, 8, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 27, 28, 30, 32, 33, 34, 35, 37, 40, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 70, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 98, 100}