## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [17]:
# Your code here
random.randint(0,100)
hundred_list = [i for i in range(101)]
sample_list_1 = [hundred_list.pop(random.randint(0,len(hundred_list)-1)) for i in range(80)]

print(sample_list_1)
print(len(sample_list_1))

[88, 21, 59, 95, 78, 18, 11, 12, 83, 52, 46, 43, 87, 94, 100, 70, 20, 90, 48, 31, 7, 60, 42, 17, 57, 40, 0, 25, 75, 28, 19, 69, 54, 29, 16, 32, 56, 58, 73, 35, 67, 23, 98, 36, 1, 93, 53, 72, 66, 6, 68, 77, 84, 39, 37, 71, 14, 10, 15, 8, 62, 4, 38, 99, 13, 9, 34, 81, 65, 33, 49, 64, 79, 50, 3, 47, 86, 30, 61, 51]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set1 = set(sample_list_1)
print(len(set1)) # Yes, the lenght is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [10]:
# Your code here
random.randint(0,100)
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)
print(len(sample_list_2))

[59, 90, 29, 14, 26, 55, 96, 58, 55, 0, 80, 81, 10, 12, 93, 73, 15, 4, 10, 95, 8, 62, 66, 17, 99, 64, 52, 48, 4, 52, 2, 3, 88, 16, 48, 85, 26, 5, 16, 51, 86, 64, 11, 17, 33, 5, 21, 41, 45, 54, 79, 67, 89, 39, 54, 4, 32, 5, 57, 61, 90, 61, 87, 69, 7, 36, 33, 32, 11, 35, 0, 8, 36, 4, 88, 3, 89, 66, 99, 75]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set2 = set(sample_list_2)
print(len(set2)) # No, the lenght is not still 80

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{1, 6, 9, 13, 18, 19, 20, 23, 25, 28, 30, 31, 34, 37, 38, 40, 42, 43, 46, 47, 49, 50, 53, 56, 60, 65, 68, 70, 71, 72, 77, 78, 83, 84, 94, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{96, 2, 5, 41, 45, 80, 85, 55, 89, 26}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 3, 4, 7, 8, 10, 11, 12, 14, 15, 16, 17, 21, 29, 32, 33, 35, 36, 39, 48, 51, 52, 54, 57, 58, 59, 61, 62, 64, 66, 67, 69, 73, 75, 79, 81, 86, 87, 88, 90, 93, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [28]:
# Your code here
print("len(set3) <= len(set1) AND len(set3) <= len(set2)")
print(len(set3) <= len(set1))
print(len(set3) <= len(set2))

print("len(set4) <= len(set1) AND len(set4) <= len(set2)")
print(len(set4) <= len(set1))
print(len(set4) <= len(set2))

print("len(set_x - set_y) <= len(set_x) AND len(set_x - set_y) <= len(set_x)")

print("")

print("len(set5) >= len(set1) AND len(set4) >= len(set2)")
print(len(set5) <= len(set1))
print(len(set5) <= len(set2))

print("len(set_x intersection set_y) <= len(set_x) AND len(set_x intersection set_y) <= len(set_x)")

len(set3) <= len(set1) AND len(set3) <= len(set2)
True
True
len(set4) <= len(set1) AND len(set4) <= len(set2)
True
True
len(set_x - set_y) <= len(set_x) AND len(set_x - set_y) <= len(set_x)

len(set5) >= len(set1) AND len(set4) >= len(set2)
True
True
len(set_x intersection set_y) <= len(set_x) AND len(set_x intersection set_y) <= len(set_x)

#### Create an empty set called `set6`.

In [32]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [33]:
# Your code here
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

{1, 6, 9, 13, 18, 19, 20, 23, 25, 28, 30, 31, 34, 37, 38, 40, 42, 43, 46, 47, 49, 50, 53, 56, 60, 65, 68, 70, 71, 72, 77, 78, 83, 84, 94, 98, 100}
{0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 81, 83, 84, 86, 87, 88, 90, 93, 94, 95, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [34]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [36]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [40]:
# Your code here
print(set3.union(set4, set5))
print(set1.union(set2))
set3.union(set4, set5) == set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [47]:
# Your code here
print("It is not possible to pop a specific element of a set nor the first because a set is not ordered")
print("Moreover, the pop method for sets pops an arbitrary element of the set")

It is not possible to pop a specific element of a set nor the first because a set is not ordered
Moreover, the pop method for sets pops an arbitrary element of the set

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
# Your code here
set1_copy = set(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    set1_copy.discard(i)
print(set1_copy)

{0, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 25, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 75, 77, 78, 83, 84, 86, 87, 88, 90, 93, 94, 95, 98, 100}