## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
sample_list_l = random.sample(range(101),80)
print(sample_list_l)

[92, 2, 87, 88, 93, 47, 55, 48, 80, 78, 64, 71, 67, 52, 66, 98, 90, 35, 13, 30, 61, 100, 79, 12, 26, 5, 59, 10, 34, 57, 44, 91, 75, 96, 20, 17, 6, 69, 74, 89, 33, 77, 41, 56, 65, 11, 84, 14, 51, 37, 73, 95, 85, 72, 82, 0, 86, 45, 49, 15, 19, 39, 24, 31, 42, 21, 76, 83, 70, 29, 9, 68, 60, 8, 58, 22, 53, 40, 63, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [72]:
# Your code here
set1 = set(sample_list_l)
print(set1)
print('lenght: ',len(set1))

{0, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 26, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}
lenght:  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [73]:
# Your code here
sample_list_2 = []

for x in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)
print(len(sample_list_2))

[51, 45, 68, 85, 50, 68, 97, 100, 37, 81, 20, 41, 56, 2, 62, 31, 23, 97, 98, 78, 63, 16, 22, 10, 27, 40, 60, 2, 65, 58, 78, 40, 54, 93, 100, 48, 45, 30, 1, 12, 53, 67, 21, 87, 78, 45, 58, 52, 10, 67, 73, 84, 21, 35, 57, 64, 36, 100, 71, 5, 16, 25, 11, 61, 80, 55, 1, 53, 19, 1, 9, 35, 40, 91, 53, 70, 70, 33, 67, 39]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [74]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

#No the lenght is not 80.

{1, 2, 5, 9, 10, 11, 12, 16, 19, 20, 21, 22, 23, 25, 27, 30, 31, 33, 35, 36, 37, 39, 40, 41, 45, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 70, 71, 73, 78, 80, 81, 84, 85, 87, 91, 93, 97, 98, 100}
57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [75]:
# Your code here
print('\nSet1: ',set1)
print('\nSet2: ',set2)

set3 = set([el for el in set1 if el not in set2])
print('\nSet3: ',set3)

Set1:  {0, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 26, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}

Set2:  {1, 2, 5, 9, 10, 11, 12, 16, 19, 20, 21, 22, 23, 25, 27, 30, 31, 33, 35, 36, 37, 39, 40, 41, 45, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 70, 71, 73, 78, 80, 81, 84, 85, 87, 91, 93, 97, 98, 100}

Set3:  {0, 6, 8, 13, 14, 15, 17, 24, 26, 29, 34, 42, 44, 47, 49, 59, 66, 69, 72, 74, 75, 76, 77, 79, 82, 83, 86, 88, 89, 90, 92, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [76]:
# Your code here
print('\nSet1: ',set1)
print('\nSet2: ',set2)

set4 = set([el for el in set2 if el not in set1])
print('\nSet4: ',set4)

Set1:  {0, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 26, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}

Set2:  {1, 2, 5, 9, 10, 11, 12, 16, 19, 20, 21, 22, 23, 25, 27, 30, 31, 33, 35, 36, 37, 39, 40, 41, 45, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 70, 71, 73, 78, 80, 81, 84, 85, 87, 91, 93, 97, 98, 100}

Set4:  {1, 97, 36, 16, 81, 50, 54, 23, 25, 27, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [77]:
# Your code here
# Your code here
print('\nSet1: ',set1)
print('\nSet2: ',set2)

set5 = set([el for el in set1 if el in set2])
print('\nSet5: ',set5)

Set1:  {0, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 26, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}

Set2:  {1, 2, 5, 9, 10, 11, 12, 16, 19, 20, 21, 22, 23, 25, 27, 30, 31, 33, 35, 36, 37, 39, 40, 41, 45, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 70, 71, 73, 78, 80, 81, 84, 85, 87, 91, 93, 97, 98, 100}

Set5:  {2, 5, 9, 10, 11, 12, 19, 20, 21, 22, 30, 31, 33, 35, 37, 39, 40, 41, 45, 48, 51, 52, 53, 55, 56, 57, 58, 60, 61, 63, 64, 65, 67, 68, 70, 71, 73, 78, 80, 84, 85, 87, 91, 93, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [78]:
# Your code here
l1 = len(set1)
l2 = len(set2)
l3 = len(set3)
l4 = len(set4)
l5 = len(set5)

print('Set1: ',l1)
print('Set2: ',l2)
print('Set3: ',l3)
print('Set4: ',l4)
print('Set5: ',l5)

#set1 is the sum of set3 and set5
print('set1 is the sum of set3 and set5? ',l1 == l3 + l5)

#set2 is the sum of set4 and set5
print('set2 is the sum of set4 and set5? ',l2 == l4 + l5)

Set1:  80
Set2:  57
Set3:  34
Set4:  11
Set5:  46
set1 is the sum of set3 and set5?  True
set2 is the sum of set4 and set5?  True

#### Create an empty set called `set6`.

In [79]:
# Your code here
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [80]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 26, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [81]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [82]:
# Your code here
print('Set1 contains set2: ',set2.issubset(set1))
print('Set1 contains set3: ',set3.issubset(set1))

Set1 contains set2:  False
Set1 contains set3:  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [83]:
# Your code here
set345 = set3.union(set4,set5)
set12 = set1.union(set2)

print('set3 U set4 U set5: ',set345)
print('set1 U set2 ', set12)

print('set3 U set4 U set5 == set1 U set2? ',set12==set345)

set3 U set4 U set5:  {0, 1, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
set1 U set2  {0, 1, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
set3 U set4 U set5 == set1 U set2?  True

#### Using the `pop` method, remove the first element from `set1`.

In [84]:
# Your code here
pel = set1.pop()
print(pel)
print(set1)

0
{2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 26, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [86]:
# Your code here
#{2, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 26, 29, 30, 31, 33, 34, 35, 37, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}


list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 5, 6, 8, 10, 12, 13, 14, 15, 17, 20, 22, 24, 26, 30, 33, 34, 35, 37, 40, 42, 44, 45, 47, 48, 52, 53, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 98, 100}