# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

In [11]:
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [33]:
# Your code here:
salaries.groupby('Department').count().sort_values(by='Name',ascending=False)

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
POLICE,13414,13414,13414,13414,10,13404,10
FIRE,4641,4641,4641,4641,2,4639,2
STREETS & SAN,2198,2198,2198,2198,1862,336,1862
OEMC,2102,2102,2102,2102,1273,829,1273
WATER MGMNT,1879,1879,1879,1879,1513,366,1513
AVIATION,1629,1629,1629,1629,1082,547,1082
TRANSPORTN,1140,1140,1140,1140,725,415,725
PUBLIC LIBRARY,1015,1015,1015,1015,299,716,299
GENERAL SERVICES,980,980,980,980,765,215,765
FAMILY & SUPPORT,615,615,615,615,287,328,287
FINANCE,560,560,560,560,44,516,44
HEALTH,488,488,488,488,3,485,3
CITY COUNCIL,411,411,411,411,64,347,64
LAW,407,407,407,407,40,367,40
BUILDINGS,269,269,269,269,0,269,0
COMMUNITY DEVELOPMENT,207,207,207,207,4,203,4
BUSINESS AFFAIRS,171,171,171,171,7,164,7
COPA,116,116,116,116,0,116,0
BOARD OF ELECTION,107,107,107,107,0,107,0
DoIT,99,99,99,99,0,99,0
PROCUREMENT,92,92,92,92,2,90,2
INSPECTOR GEN,87,87,87,87,0,87,0
MAYOR'S OFFICE,85,85,85,85,8,77,8
CITY CLERK,84,84,84,84,0,84,0
ANIMAL CONTRL,81,81,81,81,19,62,19
HUMAN RESOURCES,79,79,79,79,4,75,4
CULTURAL AFFAIRS,65,65,65,65,7,58,7
BUDGET & MGMT,46,46,46,46,2,44,2
ADMIN HEARNG,39,39,39,39,0,39,0
DISABILITIES,28,28,28,28,0,28,0
TREASURER,22,22,22,22,0,22,0
HUMAN RELATIONS,16,16,16,16,0,16,0
BOARD OF ETHICS,8,8,8,8,0,8,0
POLICE BOARD,2,2,2,2,0,2,0
LICENSE APPL COMM,1,1,1,1,0,1,0

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [34]:
# Your code here:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import ttest_1samp

In [37]:
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [52]:
# Your code here:
mu =salaries['Hourly Rate'].mean()
mu_hat = 30
std_hat= 1/(len(salaries['Hourly Rate'])-1)
n = len(salaries['Hourly Rate'])
t_test = (mu_hat - mu)/(std_hat/np.sqrt(n))
dfo = len(salaries['Hourly Rate'])-1
rv = t(df=dfo)
p_value =rv.cdf(t_test)
p_value

#p_value #El resultado es menor a 0,05 por lo que rechazamos H0 porque no es significantemente diferente de 30

0.0

In [57]:
# Your code here:
police = salaries[(salaries['Department']=='POLICE') & (salaries['Annual Salary']>0.0)]
pol_test=ttest_1samp(police['Annual Salary'],86000)
pol_test.pvalue/2

0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [65]:
most_hours = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
most_hours.sort_values(by='Hourly',ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [67]:
# Your code here:
sample = salaries[(salaries['Department']=='STREETS & SAN') & (salaries['Hourly Rate']>0)]
test=ttest_1samp(sample['Hourly Rate'], 35)
test.pvalue

3.3378530564707717e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [69]:
# Your code here:
from scipy.stats import sem, t
from scipy import mean
confidence = 0.95
mean_hourly = salaries[salaries['Hourly Rate']>0]
n = len(mean_hourly['Hourly Rate'])
m = mean(mean_hourly['Hourly Rate'])
stand = sem(mean_hourly['Hourly Rate'], ddof=-1)
h = stand*t.ppf((1+confidence)/2, n-1)
confi_inter = m-h
confi_inter

32.523491389368189

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [71]:
# Your code here:
salary = salaries[(salaries['Department']=='POLICE')&(salaries['Salary or Hourly']=='Salary')]
n = len(salary['Annual Salary'])
m = mean(salary['Annual Salary'])
stand = sem(salary_pol['Annual Salary'], ddof=-1)
h = stand * t.ppf((1+confidence)/2, n-1)
c_interval = m-h
c_interval

86177.079393999491

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [75]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
hourly = salaries[salaries['Salary or Hourly']=='Hourly']['Salary or Hourly'].count()
salary = salaries[salaries['Salary or Hourly']=='Salary']['Salary or Hourly'].count()

total = hourly + salary
total_h = hourly

In [74]:
proportions_ztest(total_h, total, 0.25)

(-3.5099964213703005, 0.00044811272490579671)

In [76]:
proportions_ztest(total_h, total, 0.95)

(-301.33848181034341, 0.0)