# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [62]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import t
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [63]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [64]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [65]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [66]:
# Your code here:
count_salary = salaries.loc[salaries['Salary or Hourly'] == 'Salary'].count()['Annual Salary']
count_salary

25161

In [67]:
count_hourly = salaries.loc[salaries['Salary or Hourly'] == 'Hourly'].count()['Hourly Rate']
count_hourly

8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [68]:
# Your code here:
new_sal = salaries.groupby('Department').count().sort_values(by='Name',ascending=False)
new_sal = new_sal[['Name','Job Titles','Full or Part-Time']]
new_sal

                        Name  Job Titles  Full or Part-Time
Department
POLICE                 13414       13414              13414
FIRE                    4641        4641               4641
STREETS & SAN           2198        2198               2198
OEMC                    2102        2102               2102
WATER MGMNT             1879        1879               1879
AVIATION                1629        1629               1629
TRANSPORTN              1140        1140               1140
PUBLIC LIBRARY          1015        1015               1015
GENERAL SERVICES         980         980                980
FAMILY & SUPPORT         615         615                615
FINANCE                  560         560                560
HEALTH                   488         488                488
CITY COUNCIL             411         411                411
LAW                      407         407                407
BUILDINGS                269         269                269
COMMUNITY DEVELOPMENT    207         207                207
BUSINESS AFFAIRS         171         171                171
COPA                     116         116                116
BOARD OF ELECTION        107         107                107
DoIT                      99          99                 99
PROCUREMENT               92          92                 92
INSPECTOR GEN             87          87                 87
MAYOR'S OFFICE            85          85                 85
CITY CLERK                84          84                 84
ANIMAL CONTRL             81          81                 81
HUMAN RESOURCES           79          79                 79
CULTURAL AFFAIRS          65          65                 65
BUDGET & MGMT             46          46                 46
ADMIN HEARNG              39          39                 39
DISABILITIES              28          28                 28
TREASURER                 22          22                 22
HUMAN RELATIONS           16          16                 16
BOARD OF ETHICS            8           8                  8
POLICE BOARD               2           2                  2
LICENSE APPL COMM          1           1                  1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [69]:
# Your code here:
# base anual salary
from scipy.stats import ttest_1samp
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [70]:
hourly_salaries = salaries[['Name','Hourly Rate']].dropna().reset_index()

hourly_salaries.isna().sum()

index          0
Name           0
Hourly Rate    0
dtype: int64

In [71]:
hourly_salaries.head()

   index                   Name  Hourly Rate
0      4      ABASCAL,  REECE E        19.86
1      6  ABBATACOLA,  ROBERT J        46.10
2      7     ABBATE,  JOSEPH L         35.60
3     10       ABBOTT,  BETTY L         2.65
4     18   ABDULLAH,  LAKENYA N        17.68

In [72]:
ttest_1samp(hourly_salaries['Hourly Rate'],30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [73]:
# Your code here:
anual_salaries = salaries[['Name','Annual Salary']].dropna().reset_index()
anual_salaries

       index                   Name  Annual Salary
0          0      AARON,  JEFFERY M       101442.0
1          1        AARON,  KARINA         94122.0
2          2    AARON,  KIMBERLEI R       101592.0
3          3    ABAD JR,  VICENTE M       110064.0
4          5  ABBASI,  CHRISTOPHER         50436.0
...      ...                    ...            ...
25156  33178  ZYLINSKA,  KATARZYNA         72510.0
25157  33179     ZYMANTAS,  LAURA C        48078.0
25158  33180      ZYMANTAS,  MARK E        90024.0
25159  33181    ZYRKOWSKI,  CARLO E        93354.0
25160  33182   ZYSKOWSKI,  DARIUSZ        115932.0

[25161 rows x 3 columns]

In [74]:
ttest_1samp(anual_salaries['Annual Salary'],86000)

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)

Using the `crosstab` function, find the department that has the most hourly workers.

In [75]:
new_hour = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']
new_hour

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [76]:
# Your code here:
new_df = pd.crosstab(index=new_hour['Department'],columns=new_hour['Hourly Rate'])
new_df

Hourly Rate,2.65,8.25,9.27,9.46,9.50,10.00,10.50,11.00,12.00,12.49,...,50.50,50.80,52.10,52.18,52.52,53.10,53.90,57.95,78.91,109.00
Department,,,,,,,,,,,,,,,,,,,,,
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
AVIATION,0,0,0,0,0,0,0,0,0,0,...,2,0,0,8,0,0,0,0,0,0
BUDGET & MGMT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BUSINESS AFFAIRS,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
CITY COUNCIL,0,0,0,0,1,1,2,0,15,0,...,0,0,0,0,0,0,0,0,0,0
COMMUNITY DEVELOPMENT,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
CULTURAL AFFAIRS,0,0,0,0,0,0,0,1,6,0,...,0,0,0,0,0,0,0,0,0,0
FAMILY & SUPPORT,206,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FIRE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GENERAL SERVICES,0,0,0,0,0,0,0,0,0,0,...,1,0,26,9,0,3,0,0,0,0
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
HUMAN RESOURCES,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OEMC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
POLICE,0,0,4,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PUBLIC LIBRARY,0,0,0,0,0,0,0,0,0,96,...,0,0,0,0,0,0,0,0,0,0
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,2,11,0,0,0
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,3,2,0,45,0,4,0,0,0,0

In [77]:
new_df.loc['FAMILY & SUPPORT']

Hourly Rate
2.65      206
8.25       25
9.27        0
9.46        0
9.50        0
         ...
53.10       0
53.90       0
57.95       0
78.91       0
109.00      0
Name: FAMILY & SUPPORT, Length: 167, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [78]:
# Your code here:
ttest_1samp(new_df.loc['FAMILY & SUPPORT'],35)

Ttest_1sampResult(statistic=-26.041849492793382, pvalue=1.6334154528292805e-60)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [79]:
# Your code here:
conf = 0.95
DoF = 1
media = hourly_salaries['Hourly Rate'].mean()
st_err=stats.sem(hourly_salaries['Hourly Rate'])

In [80]:
t.interval(conf,DoF, media, st_err)

(31.07021052955066, 34.50690490300982)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [82]:
# Your code here:
proportions_ztest(0.25,1,0.05)

(0.46188021535170065, 0.6441672226837103)