In [1]:
#Importando librer√≠as

import json
import pandas as pd

In [2]:
#Leyendo archivo json

with open('dictionary.json','r') as mydict:
    dictionary=mydict.read()

In [26]:
#Convirtiendo contenido json a diccionario

datadict=json.loads(dictionary)
len(datadict.items())

49537

In [4]:
#Convirtiendo a dataframe

df_dictionary=pd.DataFrame(datadict.items(),columns=['word','definition'])
df_dictionary.head()

,word,definition
0,abandoned industrial site,"[Site that cannot be used for any purpose, bei..."
1,abandoned vehicle,[A vehicle that has been discarded in the envi...
2,abiotic factor,"[Physical, chemical and other non-living envir..."
3,access road,[Any street or narrow stretch of paved surface...
4,access to the sea,[The ability to bring goods to and from a port...

In [5]:
#Exportando el dataframe a csv

df_dictionary.to_csv('dictionary.json.csv')

In [6]:
#Probando buscar palabras
#directamente en diccionario antes de convertir a df

datadict['before']

['At a time before that.',
 'In front of in space',
 'In front of, according to system of ordering items.',
 'Earlier than (in time).',
 'Under consideration, judgment, authority of (someone).',
 'In the future of (someone).',
 'At a higher or greater position in a subjective ranking.']

In [9]:
#ya en el df
#exactamente la palabra en la columna word

df_dictionary[df_dictionary['word'].str.contains(r'\bbefore\b')]

,word,definition
5341,before,"[At a time before that., In front of in space,..."
9654,before a court,"[At court, facing a lawsuit.]"
11806,the day before yesterday,[On the day before yesterday.]
47596,don't count your chickens before they're hatched,[One shouldn't take for granted that something...

In [8]:
#busca la palabra como substr en la columna word

df_dictionary[df_dictionary['word'].str.contains('before')]

,word,definition
5341,before,"[At a time before that., In front of in space,..."
9654,before a court,"[At court, facing a lawsuit.]"
11806,the day before yesterday,[On the day before yesterday.]
29627,beforehand,"[Being ahead of time or need., At an earlier o..."
47596,don't count your chickens before they're hatched,[One shouldn't take for granted that something...