# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [1]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [4]:
path ='./data/apple_store.csv'

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [6]:
data=pd.read_csv(path)

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [7]:
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [8]:
data.info

<bound method DataFrame.info of               id                                         track_name  \
0      281656475                                    PAC-MAN Premium
1      281796108                          Evernote - stay organized
2      281940292    WeatherBug - Local Weather, Radar, Maps, Alerts
3      282614216  eBay: Best App to Buy, Sell, Save! Online Shop...
4      282935706                                              Bible
...          ...                                                ...
7192  1187617475                                              Kubik
7193  1187682390                                  VR Roller-Coaster
7194  1187779532              Bret Michaels Emojis + Lyric Keyboard
7195  1187838770          VR Roller Coaster World - Virtual Reality
7196  1188375727                       Escape the Sweet Shop Series

      size_bytes  price  rating_count_tot  rating_count_ver  user_rating  \
0      100788224   3.99             21292                26          4.0
1      158578688   0.00            161065                26          4.0
2      100524032   0.00            188583              2822          3.5
3      128512000   0.00            262241               649          4.0
4       92774400   0.00            985920              5320          4.5
...          ...    ...               ...               ...          ...
7192   126644224   0.00               142                75          4.5
7193   120760320   0.00                30                30          4.5
7194   111322112   1.99                15                 0          4.5
7195    97235968   0.00                85                32          4.5
7196    90898432   0.00                 3                 3          5.0

      user_rating_ver   prime_genre
0                 4.5         Games
1                 3.5  Productivity
2                 4.5       Weather
3                 4.5      Shopping
4                 5.0     Reference
...               ...           ...
7192              4.5         Games
7193              4.5         Games
7194              0.0     Utilities
7195              4.5         Games
7196              5.0         Games

[7197 rows x 9 columns]>

### 6. Print the number of columns in the data.

In [11]:
print('# of Columns: {}'.format(data.shape[1]))

# of Columns: 9

### 7. Print all column names.

In [14]:
print(list(data.columns))

['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre']

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [17]:
print('# of Observations: {}'.format(data.shape[0]))

# of Observations: 7197

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [20]:
user_rating = data['user_rating']

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [21]:
user_rating.mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [24]:
user_rating_high = user_rating[user_rating>=4]

Now obtain the length of `user_rating_high` which should return 4781.

In [25]:
len(user_rating_high)

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [26]:
genres = data['prime_genre']

Print the length of the unique values of `genres`. Your code should return 23.

In [28]:
len(genres.unique())

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [33]:
genres.value_counts().head(3)

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [42]:
free_apps = data[data['price']==0]

free_apps.prime_genre.value_counts()

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [51]:
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [69]:
genre_counts = data.groupby('prime_genre').count()
free_counts = data[data['price']==0].groupby('prime_genre').count()
genre_counts.head()
free_counts.head()
prop_free = free_counts.id / genre_counts.id
prop_free.sort_values(ascending=False, inplace=True)
prop_free

prime_genre
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: id, dtype: float64

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [76]:
price_genre=data.groupby('prime_genre').mean()['price']
price_genre = price_genre.sort_values(ascending=False)

In [77]:
price_genre

prime_genre
Medical              8.776087
Business             5.116316
Reference            4.836875
Music                4.835435
Productivity         4.330562
Navigation           4.124783
Education            4.028234
Health & Fitness     1.916444
Book                 1.790536
Utilities            1.647621
Weather              1.605417
Food & Drink         1.552381
Photo & Video        1.473295
Games                1.432923
Travel               1.120370
Sports               0.953070
Entertainment        0.889701
Lifestyle            0.885417
Catalogs             0.799000
News                 0.517733
Finance              0.421154
Social Networking    0.339880
Shopping             0.016311
Name: price, dtype: float64