In [3]:
lista = [i for i in range(11)]
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
lista2 = [ i for i in range(11) if i%2==0 and i<7]
lista2

[0, 2, 4, 6]

In [10]:
lista_lista=[]
for i in range(11):
    lista_lista.append([])
    
lista_lista

[[], [], [], [], [], [], [], [], [], [], []]

In [14]:
lista_lista = [[i for i in range(3)] for i in range(3)]
lista_lista

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [15]:
string ='hola como estan'

In [18]:
split_s = string.split()
split_s

['hola', 'como', 'estan']

In [20]:
spl_may = [i.upper() for i in split_s]
spl_may

['HOLA', 'COMO', 'ESTAN']

In [25]:
otra_s = 'el dia de hoy 11 alumnos'
numero = [x for x in otra_s if x.isdigit()]
s2 = ''.join(numero)
s2

'11'

In [42]:
dic = {1:'uno','dos':2,'tres':2}
items = list(dic.items())
items[1]

('dos', 2)

In [53]:
lista = [i for i in range(11)]
lista_2 = [i for i in range(11,20)]
print(lista)
print(lista_2)

list(zip(lista,lista_2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19]

[(0, 11),
 (1, 12),
 (2, 13),
 (3, 14),
 (4, 15),
 (5, 16),
 (6, 17),
 (7, 18),
 (8, 19)]

In [85]:
dict_compren = {k:str(v) for k,v in list(zip(lista,lista_2))}
dict_compren

{0: '11',
 1: '12',
 2: '13',
 3: '14',
 4: '15',
 5: '16',
 6: '17',
 7: '18',
 8: '19'}

In [7]:
touple = (1,2,3)
var1,var2,var3 = touple

list = [4,5,6]
var4, var5, var6 = list

dic = {1:'uno', 'dos':2, 'tres':2}
var7, var8, var9 = dic.values()

print(var1)
print(var4)
print(var7)

1
4
uno

In [6]:
print(var1)
print(var4)
print(var7)

1
4
uno

In [8]:
fun = lambda x: x**2

In [12]:
var1 = fun(2)

4

In [10]:
fun(4)

16

In [2]:
# **kwargs

def saludo_multiple(*lst, land='en', vac=True):
    print(lst)
    print(lang)
    print(vac)
    
    if vac:
        print("🍻")
        
    for e in lst:
        saluda(e, lang)

In [3]:
config={'lang':'es', 'vac':False}