# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [7]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [9]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [12]:
customers=pd.DataFrame(orders.groupby('CustomerID').sum()['amount_spent'])
customers

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [13]:
#For part 2:...
q75=np.percentile(customers, 75)
q95=np.percentile(customers, 95)
VIP=customers[customers['amount_spent']>q95]
preferred=customers[(customers['amount_spent']<q95) & (customers['amount_spent']>q75)]

In [14]:
#For part 3:...
customers['VIP/Preferred'] = np.where(customers['amount_spent']>q75, 'Preferred', 'Regular')
customers['VIP/Preferred'] = np.where(customers['amount_spent']>q95, 'VIP', customers['VIP/Preferred'])
customers

            amount_spent VIP/Preferred
CustomerID
12346           77183.60           VIP
12347            4310.00     Preferred
12348            1797.24     Preferred
12349            1757.55     Preferred
12350             334.40       Regular
...                  ...           ...
18280             180.60       Regular
18281              80.82       Regular
18282             178.05       Regular
18283            2094.88     Preferred
18287            1837.28     Preferred

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [15]:
# your code here
orders2=orders.drop_duplicates(subset=['CustomerID'])
orders2.index=orders2['CustomerID'].sort_values()
orders2[['amount_spent','VIP/Preferred']]=customers[['amount_spent', 'VIP/Preferred']]
orders2[orders2['VIP/Preferred']=='VIP'].groupby('Country')['VIP/Preferred'].count().sort_values(ascending=False).head(1)

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Country
United Kingdom    189
Name: VIP/Preferred, dtype: int64

In [16]:
orders2[(orders2['VIP/Preferred'] == 'VIP') | (orders2['VIP/Preferred'] == 'Preferred')].groupby('Country')['VIP/Preferred'].count().sort_values(ascending=False).head(1)

Country
United Kingdom    981
Name: VIP/Preferred, dtype: int64